services:
  - type: web
    name: vnc-colab
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    autoDeploy: true
    healthCheckPath: /vnc_lite.html
    envVars:
      - key: VNC_RESOLUTION
        value: "1024x768"
      - key: VNC_DEPTH
        value: "24"
      - key: VNC_PASSWD
        value: "yourpassword"
    resources:
      memoryMB: 512
