services:
  - type: web
    name: vnc-desktop
    env: docker
    dockerfilePath: ./Dockerfile
    dockerCommand: ./start.sh
    dockerContext: .
    plan: free
    envVars:
      - key: DISPLAY
        value: :1
      - key: VNC_PASSWORD
        value: Albin4242
      - key: RESOLUTION
        value: 1360x768x24
      - key: VNC_PORT
        value: 5901
      - key: WEB_PORT
        value: 8080
    healthCheckPath: /health
    autoDeploy: true
    numInstances: 1
    domains:
      - vnc-desktop.onrender.com
