services:
  - type: web
    name: vnc-desktop
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    autoDeploy: true
    healthCheckPath: /vnc_lite.html
    port: 10000
    envVars:
      - key: VNC_PASSWD
        value: "password123"
