services:
  - type: web
    name: vnc-desktop
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    autoDeploy: true
    healthCheckPath: /vnc_lite.html
    envVars:
      - key: VNC_RESOLUTION
        value: "800x600"
      - key: VNC_DEPTH
        value: "16"
      - key: VNC_PASSWD
        value: "password123"
    resources:
      memoryMB: 512
