services:
  - type: web
    name: vnc-desktop
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    autoDeploy: true
    port: 8080
    envVars:
      - key: DISPLAY
        value: :1
      - key: USER
        value: root
