version: 1
services:
  - type: web
    name: xfce-desktop
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    autoDeploy: true
    envVars:
      - key: VNC_PASSWORD
        generateValue: true
      - key: RESOLUTION
        value: 1280x720
      - key: DISPLAY
        value: ":1"
    healthCheckPath: /
    healthCheckTimeout: 30
